body {
	color: #f0d8d8;
	font-family: 'Imprima';
	user-select: none;

	background-color: #171515; /* #292525 */

	margin: 0;
	padding: 0;
}

p {
	font-size: 1.25rem;
}

.reiiBanner {
	display: flex;
	gap: 3.5rem;
	margin: 2rem;

	flex-direction: row;
	justify-content: center;
	align-items: center;

	background-image: linear-gradient(to right, rgba(16, 76, 136, 0.5), rgba(128, 14, 27, 0.5)),
		url('https://i.pinimg.com/736x/4d/f7/17/4df7176bf77d87ba9abd2f5f18ccb577.jpg');
	background-size: cover;
	background-position: top;

	padding: 1rem;
	text-align: center;
	border-radius: 2rem;
}

.reiiBanner img {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
}

.reiiPFP {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	object-fit: cover;

	box-shadow: 0.5rem 0.5rem 1rem #29252582;
}

.pageNav {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	gap: 0.3rem;

	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hButton {
	margin: 0 10px;
	color: #f0d8d8;
	text-align: center;
	text-decoration: none;

	width: 5rem;
	height: auto;
	padding: 10px 20px;
	border: 2px solid #f0d8d8;
	border-radius: 50px;
	background-color: transparent;

	cursor: pointer;
}

.hButton:hover {
	text-decoration: underline;
	color: #faa0bb;
	border: 2px solid #faa0bb;
}

header h1 {
	margin: 0%;
	font-size: 2.25rem;
	text-shadow: 0.5rem 0.5rem 1rem #29252582;
}

header p {
	margin: 0%;
	font-size: 1.25rem;
	text-shadow: 0.5rem 0.5rem 1rem #29252582;
}

.socialNav {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	gap: 0.3rem;

	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fButton {
	margin: 0.5rem;
	margin-top: 1rem;
	color: #f0d8d8;
	text-align: center;
	text-decoration: none;

	width: 3rem;
	height: 3rem;
	border: 2px solid #f0d8d8;
	border-radius: 100%;
	background-color: transparent;

	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.fButton:hover {
	text-decoration: underline;
	order: 2px solid #faa0bb;
}

.fButton svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: #f0d8d8;
}

.fButton:hover svg {
	fill: #faa0bb;
}

footer {
	gap: 0rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer h1 {
	margin: 0%;
	font-size: 1.25rem;
}

footer p {
	margin: 0%;
	font-size: 1rem;
}

main {
	padding: 20px;
	text-align: center;
}

.border {
	border-color: #f0d8d8;
	width: 90%;
	border-top: 10px;
	margin-top: 1.25rem;
}

.introduction {
	display: flex;
	gap: 1rem;
	margin: 1rem;

	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.introImg {
	width: 20rem;
	height: 20rem;
	border-radius: 10%;
	object-fit: cover;
}

.introText {
	width: 20rem;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.white {
	color: #f9f2f2;
}

.pink {
	color: #faa0bb;
}

.translucent {
	color: #f0d8d8a5;
}
